################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Fortuna/v16
/Fortuna.Collector/obj
/Fortuna.Collector/bin/Debug/netstandard2.0
/Fortuna.Storage.ElasticSearch/bin/Debug/netstandard2.0
/Fortuna.Storage.ElasticSearch/obj
/src/Fortuna.Collector/bin/Debug/netstandard2.0
/src/Fortuna.Collector/obj
/src/Fortuna.Storage.Elasticsearch/bin/Debug/netstandard2.0
/src/Fortuna.Storage.Elasticsearch/obj
/.vs/Fortuna/DesignTimeBuild
